#carousel {
  background-color: white;
}

.gradient {
  background-image:
    radial-gradient(
      white,
      white,
      $color-very-light,
      $color-very-light
    );
}

.carousel-inner>.item>div {
    margin: auto 0;
    height: 450px;
    text-shadow: none; 
    color: $color-dark;
}

.carousel-indicators li{
  border-color: $highlight-color;
}

.carousel-indicators .active{
  background-color: $highlight-color;
}

.carousel-control {
  background-image: none!important;
}

.carousel-caption {
  /*top: 100%;
  transform: translateY(-100%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;*/   
}

.carousel-caption h3 {
  color: $highlight-color;
}
