<div class="container-fluid">
  <div class="col-lg-4 col-xs-4 block">
    <p>
      <a ui-sref="crossfilter">
        <img src="img/gallery/crossfilter.png"> Recorded Crime Summary Data for London
      </a>
    </p>
  </div>
  <div class="col-lg-4 col-xs-4 block">
    <p>
      <a ui-sref="rosette">
        Ratio of House Prices to Earnings (2004-2014), Borough
        <img src="img/gallery/rosette.png">
      </a>
    </p>
  </div>
  <div class="col-lg-4 col-xs-4 block">
    <p>
      <a ui-sref="treemap">
        <img src="img/gallery/treemap.png"> Population in London by Nationality, other than Great Britain (2013)
      </a>
    </p>
  </div>
</div>