<div class="row">
  <div class="col-lg-12">
    <div class="block">
      <p>
        <a ui-sref="treemap"><img src="img/gallery/treemap.png"></a>Population in London by Nationality, other than Great Britain (2013)
      </p>
    </div>
    <div class="block">
      <p>
        Ratio of House Prices to Earnings (2004-2014), Borough.<a ui-sref="rosette"><img src="img/gallery/rosette.png"></a> Ratios are calculated by dividing house price by the median earnings of a borough.
      </p>
    </div>

    <div class="block">
      <p>
        <a ui-sref="crossfilter"><img src="img/gallery/crossfilter.png"></a> Recorded Crime Summary Data for London.
      </p>
    </div>

    <div class="block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu justo. ecenas fringilla faucibus adipiscing. In feugiat, ipsum non posuere aliquam, purus nisi feugiat
        metus, mattis dapibus ipsum justo at risus. Morbi leo mauris, tristique facilisis consequat quis, volutpat quis tellus. Quisque semper, urna nec egestas venenatis, urna sem pellentesque ante, quis vestibulum augue massa vel arcu. Suspendisse
        porttitor posuere viverra. Cras vel ligula nunc, vitae congue lorem. Etiam aliquet nisl et diam iaculis id vulputate urna lobornibh et tortor.</p>
    </div>

    <div class="block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu justo. Suspendisse potenti. Suspendisse dictum massa non mi posuere ac convallis nisi pellentesque.
        Morbi posuere mauris elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero commodo mi, a eleifend lectus nibh et tortor.</p>
    </div>

    <div class="block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu justo. Suspendisse potenti. Suspendisse dictum massa non mi posuere ac convallis nisi pellentesque.
        Morbi posuere mauris elementum metus intlla faProin et malesuada arcu. Quisque sed nulla odio, at interdum diam. Proin mollis, dui eget tristique dictum, diam purus hendrerit urna, lacinia interdum sem justo sit amet justo. Morbi a neque ut
        velit tempus auctor. Sed condimentum dolor in est facilisis id malesuad</p>
    </div>

    <div class="block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu justo. Suspendisse potenti. Suspendisse dictum massa non mi posuere ac convallis nisi pellentesque.
        Morbi posuere mauris elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero commodo mi, a eleifend lectus nibh et tortor.</p>
    </div>

    <div class="block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in dui velit. Curabitur purus odio, adipiscing ut vehicula at, pulvinar eu elementum metus interdum vestibulum. Vestibulum semper, lectus interdum aliquet pulvinar, quam libero
        commodo mi, a eleifend lectus nibh et tortor.</p>
    </div>
  </div>
</div>
