<main class="container-fluid">
  <div class="row">
    <div class="jumbotron gradient" style="margin-bottom: 0;">
      <h2 class="text-center slogan">More with Less.</h2>
      <div id="slide2" ng-init="getDiagram('slide2', diagrams[2])"></div>          
    </div>    
  </div>
  <div ng-include="'shared/banner.html'"></div>     
</main>
<div class="container">
  <div class="row">
    <h2 class="text-center">Company</h2> 
    <hr />         
    <div class="col-lg-6 col-sm-6">    
      <p>LeanArk is a modern dynamic software development company which helps clients to achieve their goals in the most efficient and economic way.</p>                 
    </div>
    <div class="col-lg-6 col-sm-6">      
      <p>LeanArk solutions are lightweight and cost effective. They are based on principles of lean manufacturing and agile delivery.</p>
    </div>
  </div>  
  <div class="row">
    <h2 class="text-center">Philosophy</h2> 
    <hr />  
    <div class="col-lg-6 col-sm-6">
      <p>LeanArk is actively working on delivery cost effective quality products in the shortest time.</p>
    </div>
    <div class="col-lg-6 col-sm-6">
      <p>Our goal is to eliminate waste in software development process and ensure that our customers are getting the best value for their money.</p>     
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Practices</h2> 
    <hr />  
    <div class="col-lg-6 col-sm-6">      
      <p>Our solutions designed and developed following reproducibility principals and released live using custom designed continuous delivery pipelines.</p>      
    </div>
    <div class="col-lg-6 col-sm-6">      
      <p>The high quality of our solutions is insured by our architecture approach, agile development, and programmed infrastructure.</p>        
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Services</h2> 
    <hr />         
    <div class="col-lg-6 col-sm-6">    
      <p>We start with researching of business needs and identifying required business capabilities. We enable the business capabilities by designing a set of loosely coupled services which form a system core. We deploy implemented services using operating system level virtualisation - containers.</p>               
    </div>
    <div class="col-lg-6 col-sm-6">      
      <p>We tend to deliver a minimal viable product within 6 weeks after initial research, planning, and design stage. Then, we continue working with the client adding new features and business capabilities until our custom tailored solution satisfies customer's needs.</p>            
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Products</h2> 
    <hr />  
    <div class="col-lg-6 col-sm-6">
      <p>Our solutions work on various devices and can be accesses through web browsers, mobile or desktop applications. Our user interfaces are intuitive and responsive. We build interactive interfaces to explore and manipulate large data sets from various sources - data API's, databases. <a class="btn btn-default" ui-sref="gallery" role="button">See examples</a></p>        
    </div>
    <div class="col-lg-6 col-sm-6">
      <p>We offer our unique product specifically designed to help create, deploy, and monitor virtualised containers infrastructure.</p>    
      <p>For more info about this product please connect with us using the enquiry form  <a class="btn btn-default" ui-sref="home" role="button">Send enquiry</a></p>    
    </div>
  </div>
</div>
  