<main class="container-fluid">
  <div class="row">
    <div class="jumbotron gradient" style="margin-bottom: 0;">
      <h2 class="text-center slogan">More with Less.</h2>
      <!-- <h2 class="text-center slogan">Less is only more where more is no good. <small> Frank Lloyd Wright</small></h2> -->
      <div id="slide1" ng-init="getDiagram('slide1', diagrams[1])"></div>
    </div>
  </div>
  <div ng-include="'shared/banner.html'"></div>
</main>
<div class="container">
  <div class="row">
    <h2 class="text-center">Our software solutions<br/><small>Lean architecture, microservices, and containers</small></h2>
    <p class="text-center"><a class="btn btn-primary btn-lg" ui-sref="about" role="button">Read more</a></p>              
  </div>
  <div class="row">
    <hr />    
    <h2 class="text-center">Major components of our software solutions</h2>   
    <div class="col-lg-3 col-sm-6" ng-repeat="item in items">
      <img ng-src="{{item.image}}" alt="" width="100%">
      <h2>{{item.title}}</h2>
      <ul class="list-group">
        <li class="list-group-item animated-item" ng-repeat="detail in item.details | limitTo: item.showDetails">{{detail}}</li>
      </ul>
      <p>
        <a class="btn btn-default" ng-click="toggleDetails(item)" href="javascript:void(0);" role="button">{{item.detailsAction}} details</a>
      </p>
    </div>
  </div>
  <div class="row">
    <hr />
    <div class="col-lg-8">
      <h3 class="text-center">Our skills</h3>
      <div id="bubble-chart"></div>
    </div>

  </div>
</div>
<script src="js/leanark-bubble-chart.js"></script>
  
<script>
  $(function() {
	//var $main = $('main');
	//$main.height($(window).height() - $main.offset().top);
  });
</script>
