<main class="container-fluid">
<div class="back">
  <a ui-sref="gallery"><i class="fa fa-arrow-left fa-2x"></i></a>
</div>
<center>
  <span id="loading"><i class="fa fa-cog fa-spin fa-5x"></i>
  <h1>Loading. Please wait ...</h1></span>
</center>
<span id="charts" class="hidden">
  <div class="row">
    <h2>
      <center>Recorded Crime Summary Data for London</center>
    </h2>
    <div class="col-lg-6">
      <div id="row-chart2"></div>
    </div>
    <div class="col-lg-6">
      <div id="bar-chart">
        <h3>Crime Incidents by Year</h3>
      </div>
      <div id="row-chart1"></div>
    </div>
  </div>
</span>
</main>
<script>
	$(function() {
		$('main').height($(window).height() - 112);
	});
</script>

<script src="js/leanark-crossfilter.js"></script>