<hr class="top" />
<div class="back">
  <a ui-sref="gallery">
    <i class="fa fa-arrow-left fa-2x"></i>
  </a>
</div>
<div class="container-fluid">
  <span id="loading" class="fade-in">
    <center>
      <i class="fa fa-cog fa-spin fa-5x"></i>
    </center>
    <h3 class="text-center">Loading. Please wait ...</h3>
  </span>
  <span id="charts" class="hidden">
    <div class="row">
      <h2 class="text-center">Recorded Crime Summary Data for London</h2>
      <div class="col-lg-6">
        <div id="row-chart2"></div>
      </div>
      <div class="col-lg-6">
        <div id="bar-chart">
          <h3>Crime Incidents by Year</h3>
        </div>
        <div id="row-chart1"></div>
      </div>
    </div>
  </span>
</div>
<script src="js/leanark-crossfilter.js"></script>